@import "tailwindcss";
@plugin "daisyui";

@theme{
  /* color */
  --color-bg-main: #f4f5f7;
  --color-dark-01: #080808;
  --color-dark-02: #080808e6;
  --color-dark-03: #080808b3;
  --color-dark-04: #08080880;
  --color-dark-05: #0808081a;
  --color-bg-btn: #0874F2;
  --color-bg-feature:#0874f20d;

  /* font  */
  --font-outfit: "Outfit", sans-serif;
}

@layer base{
  html {
        font-size: 62.5%;
        /* For 1rem = 10px base */
  }

  *{
    font-family: var(--font-outfit);
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    box-sizing: border-box;
  }
  
}